<body>
    <div class="container-fluid bg-light text-white">
        <div class="row">
            <div class="col-12 jumbotron mb-3 team-heading bg-success">
                <h1 class="text-center">My Team</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="team-area col-12 d-flex justify-content-center">
                <div class="card employee-card">
    <div class="card-header bg-info text-white">
        <h2 class="card-title">Daniel</h2>
        <h3 class="card-title"><i class="fas fa-mug-hot mr-2"></i>Manager</h3>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item">ID: 1</li>
            <li class="list-group-item">Email: <a href="mailto:dan@gmail.com">dan@gmail.com</a></li>
            <li class="list-group-item">Office number: 206-345-4567</li>
        </ul>
    </div>
</div>
<div class="card employee-card">
    <div class="card-header bg-info text-white">
        <h2 class="card-title">Mike Jones</h2>
        <h3 class="card-title"><i class="fas fa-glasses mr-2"></i>Engineer</h3>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item">ID: 2</li>
            <li class="list-group-item">Email: <a href="mailto:mjones@isworking.com">mjones@isworking.com</a></li>
            <li class="list-group-item">GitHub: <a href="https://github.com/whoMikeJones" target="_blank" rel="noopener noreferrer">whoMikeJones</a></li>
        </ul>
    </div>
</div>
<div class="card employee-card">
    <div class="card-header bg-info text-white">
        <h2 class="card-title">Yo</h2>
        <h3 class="card-title"><i class="fas fa-user-graduate mr-2"></i>Intern</h3>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item">ID: 3</li>
            <li class="list-group-item">Email: <a href="mailto:yo@edu.com">yo@edu.com</a></li>
            <li class="list-group-item">School: UW</li>
        </ul>
    </div>
</div>

            </div>
        </div>
    </div>
</body>


